# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
storybook-static/
coverage/
test-results/
playwright-report/
*.tgz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & Local
.env
.env.local
.DS_Store
*.local

# IDE
.vscode/
.idea/
